@model WebApp.Models.Amenity.EditAmenityViewModel

@{
    ViewBag.Title = "Редактирование удобства номеров";
    Layout = "_Layout";
}

<section class="breadcrumb-area overlay-dark-2 bg-3" style="background-image: url('@Url.Content("~/images/bg/3.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>@ViewBag.Title</h2>
                    <p>Панель администрирования</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container pt-30 pb-30">
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label for="Title">Название:</label>
            <input id="Title" asp-for="Title" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="Description">Описание:</label>
            <input id="Description" asp-for="Description" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Редактировать</button>
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
