@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<WebApp.Models.Amenity.AmenityViewModel>

@{
    ViewData["Title"] = "Amenities";
    Layout = "_Layout";
}

<div class="container p-5">
    <h2>Удобства</h2>
    
    <p>
        <a asp-action="Create">Создать</a>
    </p>
    <form asp-action="Index" method="get">
        <input type="text" name="searchString" placeholder="Search by Title"/>
        <input type="submit" value="Search"/>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <a href="@Url.Action("Edit", "Amenity", new { id = item.Id })">Редактировать</a> |
                    <a href="@Url.Action("DeleteConfirmation", "Amenity", new { id = item.Id })">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
