@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section class="breadcrumb-area overlay-dark-2 bg-3" style="background-image: url('images/bg/3.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>@ViewBag.Title</h2>
                    <p>Панель администрирования</p>
                </div>
            </div>
        </div>
    </div>
</section>