@model WebApp.Models.HotelBranch.EditHotelBranchViewModel

@{
    ViewBag.Title = "Редактирование филиала";
    Layout = "_Layout";
}

<section class="breadcrumb-area overlay-dark-2 bg-3" style="background-image: url('@Url.Content("~/images/bg/3.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>@ViewBag.Title</h2>
                    <p>Панель администрирования</p>
                </div>
            </div>
        </div>
    </div>
</section>>
<div class="container pt-30 pb-30">
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label for="Title">Название:</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Country">Страна:</label>
            <input asp-for="Country" class="form-control"/>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="City">Город:</label>
            <input asp-for="City" class="form-control"/>
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Street">Улица:</label>
            <input asp-for="Street" class="form-control"/>
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="House">Дом:</label>
            <input asp-for="HouseNumber" class="form-control"/>
            <span asp-validation-for="HouseNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="House">Контакты:</label>
            <input asp-for="Contacts" class="form-control"/>
            <span asp-validation-for="Contacts" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Редактировать</button>
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>